.columns.small-12
  %h1 New sale

  #sales_form
    = form_tag '/admin/sales/query' do |f|
      Scan a barcode or enter author/title information to search our inventory:
      = text_field_tag :sales_lookup
