.inventory.row
  - if @inventory.edition_id.blank?
    = render :partial => "shared/other_item", :locals => {:inventory => @inventory}
  - else
    = render :partial => "shared/title", :locals => {:inventory => @inventory}

