.row
  .small-10.columns
    .date_posted Event on
    .date= event.start_at.strftime("%d/%m")
    .post_body
      .event_title= link_to raw(event.title), event.facebook
      .body= output event.description
  .small-1.column.right_link= link_to image_tag('FB_post_link.png'), event.facebook