.row
  %ul{"data-orbit" => ""}
    - @events.each do |event|
      - next if event.image.blank?
      /- next if event.image_width < 900
      %li
        = image_tag event.image.url(:standard)
        .orbit-caption= link_to event.name, event

  %h1 Upcoming events
  - @events.each do |event|
    .post= render :partial => 'event', :locals => {:event => event}
    
  .row
    .large-9.columns= paginate @events