%h2 
  - if @book
    new edition of 
    = @book.title
    by
    = @book.try(:creator_name)
    = link_to '[edit book title]', edit_admin_book_path(@book)
=render :partial => 'admin/editions/form', :locals => {:book => @book}