= content_for :left_column do
  = render :partial => 'shared/right_rec_featured', :locals => {:featured => @featured, :reviews => @reviews }
  
    
.column-9.clearfix
  %h3.lined News, events and other information
  - @posts.each do |post|
    .post_full.clearfix= render :partial => 'post', :locals => {:post => post}