@import 'variables';

.podcasts {
  h1 {
    margin-top: 20px;
  }
  .podcast {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
    h2 {
      margin-bottom: 15px;
    }
    .podcast_description {
      font-family: $lucida;
      font-size: 11px;
      line-height: 14px;
    }
  }
  .right_link {
    float: right;
    margin-top: -18px;
    padding: 6px;
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
    font-family: $lucida;
    font-size: 11px;
    display: inline;
    position: absolute;
    right: 0px;
    text-align: center1;
    bottom: 0px;
    background-color: black;
    a {
      color: white;
    }
  }
  .footnote_link {
    a, a:visited  {
      color: $slothrops-orange;
      font-size: 13px;
    }
    margin: 5px 0px;
  }
}
.podcast_links_header {
  font-family: $helvetica;
  margin: 15px 0 10px 0;
  font-size: 12pt;
}

.podcast_link {
  margin-bottom: 10px;
  clear: both;
  padding-left: 15px;
  .podcast_link_image { 
    float: left;
    width: 150px;
    margin-right: 10px;
  }
  
  .podcast_link_metadata {
    float: left;
    width: 500px;
  }
}

.podcast_title {
  font-size: 11pt;
}



.podcast_link_title {
  font-size: 11pt;
}

.podcast_link_description {
  font-size: 10pt;
  line-height: 13pt;
  margin-left: 15px;
}
.download_link {
    margin-top: 5px;
    margin-bottom: 10px;
}
.download_link a, .download_link a:visited {

    color: $slothrop-orange;
}

.event_title {
  margin-top: 10px;
}

.event_metadata {
  font-size: 10pt;
  font-family: $helvetica;
}