@import 'variables';

ol.orbit-bullets {
  display: none;
}
.orbit-caption {
  font-family: $helvetica;
  font-weight: bold;
  font-size: 18px  !important;
  background-color: rgba(189, 185, 160, 0.7) !important;
  a {
    color: #FFF;
  }
}
.orbit-container {
  margin-bottom: 25px;

}
.post {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-bottom: 10px;
  position: relative;
  .post_alone_title, .post_alone_title a {
    margin-top: 15px;
    font-family: $helvetica;
    font-size: 23px;
    font-weight: bold;
    color: #000;
  }
  .post_title {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
    font-family: $helvetica;
  }  
  .post_body {
    font-family: $lucida;
    font-size: 11px;
    line-height: 13px;
    color: black;
  }
  .date_posted {
    margin-top: 5px;
    text-transform: uppercase;
    color: #999;
    font-family: Lucida Grande, Arial, sans-serif;
    font-size: 9px;
    margin-bottom: 5px;
  }
  .date {
    font-family: $helvetica;
    color: $slothrops-orange;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .post_body {
    font-family: $lucida;
    color: #000;
    font-size: 11px;
    line-height: 15px;
    margin-bottom: 10px;
    p {
      margin-bottom: 10px;
    }
    
    
  }

  .event_title {
    a {
      color: $slothrops-orange;
      font-family: $helvetica;
      font-size: 14px;
      line-height: 20px;
    }
  }
  .right_link {
    float: right;
    margin-top: -18px;
    padding: 6px;
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
    font-family: $lucida;
    font-size: 11px;
    display: inline;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: black;
    a {
      color: white;
    }
  }
}