
$helvetica: Helvetica, Arial, sans-serif;
$lucida: Lucida Grande, Arial, sans-serif;
$georgia: Georgia, Times, serif;
$slothrops-orange: #DC5405;
$slothrop-orange: #DC5405;

@font-face {
  font-family: 'Plantin';
  src: url('28A9C3_0_0.eot');
  src: url('28A9C3_0_0.eot?#iefix') format('embedded-opentype'),
       url('28A9C3_0_0.woff') format('woff'),
       url('28A9C3_0_0.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
